body {
  font-family: Arial, sans-serif;
  font-size: 13pt;
  line-height: 2rem;
  font-weight: 100;
  color: hsla(228, 0%, 25%, 1.0);
  margin: 1rem 2rem;
}

h1 {
  font-weight: 100;
  color: hsla(0, 0%, 0%, 1.0);
}

h2 {
  font-weight: 100;
  color: hsla(15, 100%, 53%, 1.0);
  border-bottom: 1px solid black;
}

h3 {
  font-weight: 100;
  border-bottom: 1px dotted grey;
}

h4 {
  font-weight: 100;
  font-style: italic;
}

blockquote {
  color: hsla(228, 0%, 15%, 1.0);
  background: hsla(228, 0%, 95%, 1.0);
  border-radius: 3px;
  border: 1px solid hsla(228, 0%, 25%, 1.0);
  padding: 0.5rem 1rem;
  font-weight: bold;
}

pre {
  background: hsla(228, 0%, 10%, 1.0);
  border-radius: 3px;
  border: 1px solid hsla(228, 0%, 75%, 1.0);
  padding: 0.5rem;
  color: white;
}

code {
  position: inline-block;
  position: relative;
  color: hsla(228, 0%, 20%, 1.0);
  background: hsla(228, 0%, 85%, 1.0);
  padding: 0 0.25rem 0 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid hsla(228, 0%, 75%, 1.0);
}

li {
  margin-bottom: 0.5rem;
}

a {
  display: inline-block;
  position: relative;
  padding: 0 0.25rem 0 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid hsla(225, 100%, 75%, 0.75);;
  background-color: hsla(0, 0%, 0%, 0.06);
  color: black;
  transition: 0.25s background;
}

a:hover {
  background-color: orange;
  text-decoration: none;
  color: black;
}

.centerImage {
  display:block;
  margin-left: auto;
  margin-right: auto;
}
