body {
  font-family: Arial, sans-serif;
  font-size: 13pt;
  line-height: 20pt;
  font-weight: 100;
  color: hsla(228, 0%, 25%, 1.0);
  margin: 1em 2em;
}

h1 {
  font-weight: 100;
  color: hsla(0, 0%, 0%, 1.0);
}

h2 {
  font-weight: 100;
  color: hsla(15, 100%, 53%, 1.0);
  border-bottom: 1px solid black;
}

h3 {
  font-weight: 100;
  border-bottom: 1px dotted grey;
}

h4 {
  font-weight: 100;
  font-style: italic;
}

pre {
  background: hsla(228, 0%, 10%, 1.0);
  border-radius: 3px;
  border: 1px solid hsla(228, 0%, 75%, 1.0);
  padding: 0.5em;
  color: white;
}

code {
  color: hsla(228, 0%, 20%, 1.0);
  background: hsla(228, 0%, 85%, 1.0);
  padding: 0em 0.25em 0.05em 0.25em;
  border-radius: 3px;
  border: 1px solid hsla(228, 0%, 75%, 1.0);
}

a {
  display: inline-block;
  padding: 0em 0.25em 0.05em 0.25em;
  font-weight: 100;
  color: cornflowerblue;
  border-radius: 3px;
  border: 1px solid hsla(228, 0%, 100%, 1.0);
}

a:hover {
  display: inline-block;
  padding: 0em 0.25em 0.05em 0.25em;
  font-weight: 100;
  text-decoration: none;
  color: hsla(228, 0%, 100%, 1.0);
  background: hsla(15, 100%, 53%, 1.0);
  border-radius: 3px;
  border: 1px solid hsla(228, 0%, 20%, 1.0);
}

.centerImage {
  display:block;
  margin-left: auto;
  margin-right: auto;
}
